{# Cards #}
{% macro card() %}
  {% trans %}
    <div class="card">
      <img src="https://picsum.photos/seed/picsum/500/350" class="card-img-top img-fluid" alt="Placeholder Image">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  {% endtrans %}
{% endmacro %}
